header
    h1.ui-app-brand
        a(href='/', title='Home page') DATA
            em GRID
    ul(role='search', aria-label='Search tools', itemscope, itemtype='http://schema.org/SiteNavigationElement')
        li
            a(href='/faqs') FAQ
        li
            a(href='/help') Help
        li
            input(type='search', placeholder='Search')