@import reset
@import header
@import navigation

body
    background: #000;
    color: #808080;
    font: 12px/1 Tahoma, sans-serif;

.ui-app
    background: #fff;
    border-radius: 3px;
    width: 80%;
    margin: 20px auto;
    padding-bottom: 3px;
    width: 1045px;

.ui-app-title
    color: #363636;
    background: #e1ecf4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 6px;

.ui-app-content
    border: 1px solid #c2c4d4;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 15px;
    margin: 3px;
    margin-bottom: 0;

.row12
    clear: both;
    margin-bottom: 20px;