
/* line 1 : /Users/josephchapman/Projects/datagrid/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table {
  border: 1px solid #c2c4d4;
  border-radius: 3px;
  color: #8e989f;
  text-shadow: 0 1px 1px #fff;
  width: 100%;
  overflow: hidden;
  border-collapse: separate;
}

/* line 10 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table colgroup.hover {
  background: #e9f1f7;
}

/* line 13 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table thead {
  background-image: linear-gradient(#e9f1f7, #d9e7f1);
}

/* line 16 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table thead th {
  position: relative;
  padding: 9px;
  text-align: left;
}

/* line 21 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table thead th:hover {
  cursor: pointer;
}

/* line 24 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table thead th.sorted {
  color: #d80;
}

/* line 26 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table thead th.sorted:after {
  content: url("/img/sprites.png");
  position: absolute;
  top: -105px;
  height: 10px;
  width: 10px;
  padding-left: 3px;
}

/* line 34 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table tbody {
  min-height: 300px;
}

/* line 36 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */

/* line 39 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */

/* line 40 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table tbody tr:nth-child(even) {
  background: #f8f8f8;
}

/* line 43 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table tbody tr:hover {
  background: #e9f1f7;
}

/* line 45 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table tbody td {
  padding: 10px;
  border: 1px solid transparent;
}

/* line 48 : /Users/josephchapman/Projects/datagrid/public/stylesheets/apps/preview.styl */
table tbody td:hover {
  color: #000;
  text-shadow: none;
  border: 1px solid #000;
  cursor: default;
}
